body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

input[type="text"] {
  width: 500px; 
  height: 30px; 
  padding: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

h1{
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  border: 5px solid rgba(61, 61, 61, 1);
  border-radius: 12px;
  background-color: rgba(64, 64, 64, 1);
  
}

.issue-details {
  display: flex;
  align-items: flex-start;
}

.issue-id {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #5c8162;
  color: #ecdf6b;
  border-radius: 4px;
  margin-right: 10px;
}

.issue-content {
  flex: 1;
}

.issue-title a {
  color: #7ba078;
  text-decoration: none;
}

.issue-title a:hover {
  text-decoration: underline;
}


.issue-user {
  margin-top: 5px;
  font-size: 14px;
}

.issue-labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.label {
  display: inline-block;
  padding: 4px 8px;
  margin-right: 5px;
  font-size: 12px;
  background-color: #5c8162;
  color: #ecdf6b;
  border-radius: 4px;
  text-align: right;
  
}
